.pictureBox{
    border: 1px solid grey;
    height: 200px;
    width: 5%;
    display: 100%;
    flex: auto;
    text-align: center;
}

.img{
    height: 200px;
    display: 100%;
}

.textBox{
    height: 125px;
    text-align: center;
    margin-top: 75px;
}

.bttn{
    margin-top: 10px;
}
